.db-author {
  padding: 48px;
}

.db-author__profile {
  width: 600px;
  max-width: 90%;
  margin: auto;
  position: relative;
}

.db-author__profile-picture {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

.db-author__profile-picture img {
  width: 100%;
  border-radius: 50%;
}