body,
html,
[ui-view] {
  height: 100%;
}

.db-content {
  max-width: 900px;
  width: 95%;
  margin: 0 auto;
}

.db-post {
  margin: 8px;
}

.db-card {
  width: 100%;
}

.db-card__title {
  position: relative;
}

.db-card__title-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.db-card__title-text {
  z-index: 50;
}
