<div class="mdl-layout db-post__title mdl-shadow--2dp" ng-style="computeHeaderStyle(apppost.post)">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <div class="db-post__title-overlay"></div>
      <div class="mdl-layout__drawer-button db-post__title-icon"><i class="material-icons" ui-sref="app.posts">keyboard_backspace</i></div>
      <span class="mdl-layout-title db-post__title-text">Reading article...</span>
    </div>
  </header>
</div>
<div class="db-content mdl-card">
  <div class="mdl-card__title">
    <h1 class="mdl-card__title-text db-post__post-title">{{apppost.post.title}}</h1>
  </div>
  <div class="mdl-card__supporting-text">
    <strong>{{apppost.author.firstname}} {{apppost.author.lastname}}</strong>
    <div>{{apppost.author.email}}</div>
  </div>
  <div class="mdl-card__supporting-text db-post__post-body">
    {{apppost.post.body}}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a ui-sref="app.post" class="mdl-button mdl-js-button mdl-js-ripple-effect">
      Take me home
    </a>
  </div>
</div>
