<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Dummy Blog</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" ui-sref="app.posts">Posts</a>
        <a class="mdl-navigation__link" ui-sref="app.albums">Albums</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Dummy Blog</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" ui-sref="app.posts">Posts</a>
      <a class="mdl-navigation__link" ui-sref="app.albums">Albums</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="db-content">
      <div ui-view="content"></div>
    </div>
  </main>
</div>